//example : breakpointminmax(320, 767) { width:50%;....... }

@mixin breakpointminmax($sizemin, $sizemax) {
  @media (min-width: $sizemin + px) and (max-width: $sizemax + px) {
    @content;
  }
}

// example @include breakpoint(940) { width:80%; }
@mixin breakpoint($size) {
  @media only screen and (max-width: $size + px) {
    @content;
  }
}

// example @include min-breakpoint(940) { width:80%; }
@mixin min-breakpoint($size) {
  @media only screen and (min-width: $size + px) {
    @content;
  }
}

// example @include max-breakpoint(940) { width:80%; }
@mixin max-breakpoint($size) {
  @media only screen and (max-width: $size + px) {
    @content;
  }
}